/* Variables */
:root {
  --brand-color: rgba(33, 150, 243, 1);
  --brand-font: "Roboto", sans-serif;
  --common-font-size: 14px;
  --background-color: rgb(47, 48, 58);
}

/* General Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #212121;
  font-family: var(--brand-font);
  font-size: var(--common-font-size);
  font-weight: 400;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.625em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

/* Header Styles */

.header {
  height: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--brand-color);
  font-size: 26px;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.938em;
  font-weight: 700;
}

.logo.top {
  margin-right: 91px;
}

.header-links {
  width: 281px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 344px;
}

.header-link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  line-height: 1em;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  color: var(--brand-color);
}

.header-contact {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  line-height: 1em;
}

.header-contact:hover,
.header-contact:focus,
.header-contact:active {
  color: var(--brand-color);
}

.header-contact.right {
  margin-left: 50px;
}
/* Main Styles */
/* Estudio Styles */

/* Title Section */
.title {
  background-color: var(--background-color);
  border: 1px solid;
}

.title-text {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  box-sizing: content-box;
  width: 696px;
  height: 120px;
  margin-top: 200px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.title-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  margin-bottom: 200px;

  color: #fff;
  background-color: var(--brand-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}

/* Table Section */

.attribute-table {
  margin: 95px 215px;
}

.attribute {
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.description {
  color: #757575;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  text-align: left;
}

/* Pictures Section */

/* A que nos dedicamos PICTURE */

.product-images {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: 188px;
  margin-left: auto;
  margin-right: auto;
}

/* Nuestro Equipo PICTURES */

.cards {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188em;
  letter-spacing: 0.03em;
  text-align: center;
}

.task {
  color: #757575;
  font-size: 16px;
  line-height: 1.188em;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Portafolio Styles */

.buttons .class-button {
  background-color: rgba(245, 244, 250, 1);
  font-family: var(--brand-font), sans-serif;
  font-size: 16px;
  line-height: 1.625em;
  font-weight: 500;
  text-align: center;
}

.buttons .class-button:hover,
.buttons .class-button:focus,
.buttons .class-button:active {
  cursor: pointer;
  background-color: var(--brand-color);
  color: #fff;
}

.product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25em;
}

.product-type {
  color: #757575;
  font-size: 16px;
  line-height: 1.875em;
}

/* Footer Styles */

footer {
  background-color: var(--background-color);
}

.address {
  color: rgba(255, 255, 255, 1);
  line-height: 1.5em;
  font-style: normal;
}

.contact .footer-contact {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5em;
  text-decoration: none;
  font-style: normal;
}

.contact .footer-contact:hover,
.contact .footer-contact:focus,
.contact .footer-contact:active {
  color: var(--brand-color);
}
